// Think Metric
// Style: Components

main.center-line {
   >section {
      p {
         text-align: center;
         }
      >i.font-icon {
         font-size: 3rem;
         }
      }
   }

.ballot-x-mark {
   position: relative;
   text-align: center;
   &::before {
      position: absolute;
      top: -0.18em;
      left: 0px;
      right: 0px;
      content: @symbolBallotXMark;
      font-size: 2rem;
      color: firebrick;
      }
   }

ul.plain-list {
   list-style-type: none;
   padding-left: 0px;
   li {
      text-align: center;
      }
   }

figure.box-frame {
   background-color: white;
   border: 5px solid silver;
   padding: 5px 20px;
   img {
      height: 100px;
      .MobileMode({ height: 70px; });
      }
   }

figure.small-picture {
   img {
      width: 200px;
      .MobileMode({ width: 150px; });
      }
   }

figure.window-shadow {
   figcaption {
      margin-top: -40px;
      }
   }

code.block {
   display: block;
   font-size: 0.9rem;
   background-color: lightcyan;
   border: 2px dotted darkcyan;
   padding: 5px 15px;
   }

table.big-table {
   margin: 0px;
   .TableCell() {
      &:first-child {
         padding-left: 0px;
         }
      &:last-child {
         padding-right: 0px;
         }
      }
   thead {
      tr {
         th {
            .TableCell();
            }
         }
      }
   tbody {
      tr {
         td {
            .TableCell();
            img {
               max-width: 120px;
               }
            }
         }
      }
   }
