// Think Metric
// Style: Components

section {

   i[data-icon^=circle] {
      font-size: 2rem;
      color: royalblue;
      transition: all 1s;
      }

   .ballot-x-mark {
      position: relative;
      text-align: center;
      &::before {
         position: absolute;
         top: -0.18em;
         left: 0px;
         right: 0px;
         content: @symbolBallotXMark;
         font-size: 2rem;
         color: firebrick;
         }
      }

   code.block {
      display: block;
      font-size: 0.9rem;
      background-color: lightcyan;
      border: 2px dotted royalblue;
      padding: 5px 15px;
      }

   b.flair {
      display: inline-block;
      font-size: 0.9em;
      color: white;
      padding: 3px 15px;
      border-radius: 20px;
      &[data-flair=green] {
         color: white;
         background-color: forestgreen;
         }
      &[data-flair=teal] {
         color: black;
         background-color: turquoise;
         }
      }

   ul.plain-list {
      list-style-type: none;
      padding-left: 0px;
      li {
         text-align: center;
         }
      }

   table.big-table {
      margin: 0px;
      .TableCell() {
         &:first-child {
            padding-left: 0px;
            }
         &:last-child {
            padding-right: 0px;
            }
         }
      thead {
         tr {
            th {
               .TableCell();
               }
            }
         }
      tbody {
         tr {
            td {
               .TableCell();
               img {
                  max-width: 120px;
                  }
               }
            }
         }
      }

   form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      column-gap: 30px;
      max-width: none;
      text-align: left;
      background-color: lightblue;
      border-radius: 20px;
      padding: 20px 30px;
      >label {
         margin: 0px;
         >span {
            margin: -3px 0px 3px 0px;
            }
         >input {
            margin: 0px;
            }
         >select {
            margin: 0px;
            }
         }
      }

   }
