// Think Metric
// Style: Custom Pages

@import "static/utility-box";

main[data-page=digital-world-is-not-made-for-imperial-fractions] {
   section#half-ass {
      >figure {
         >span {
            top: 50%;
            left: 50%;
            rotate: -15deg;
            transform: translate(-140px, -120px);
            text-shadow: 0px 0px 0.2em black;
            }
         }
      }
   }

main[data-page=imperial-units-quiz] {
   section#quiz {
      table {
         thead tr th {
            font-size: 1.2rem;
            }
         tbody tr td {
            font-size: 1.2rem;
            &.spoiler-blur {
               font-style: italic;
               }
            }
         }
      }
   }
