// Think Metric
// Style: Figures

@import "static/utility-box";

// <figure data-picture-size=2>
//    <img src=buffalo.jpg alt=buffalo>
//    <figcaption>buffalo</figcaption>
// </figure>
figure {
   &[data-picture-size="1"] { img { width: 100px; .MobileMode({ width:  75px; }); } }
   &[data-picture-size="2"] { img { width: 200px; .MobileMode({ width: 150px; }); } }
   &[data-picture-size="3"] { img { width: 300px; .MobileMode({ width: 225px; }); } }
   &[data-picture-size="4"] { img { width: 400px; .MobileMode({ width: 300px; }); } }
   &[data-picture-size="5"] { img { width: 500px; .MobileMode({ width: 375px; }); } }
   }

section {
   figure {
      &.dark-mode-border img { .DarkMode({
         border: 1px solid gainsboro;
         }); }
      &.dark-mode-frame img { .DarkMode({
         background-color: white;
         border: 3px solid gray;
         padding: 10px;
         }); }
      &.floating-card {
         &:not(:last-child) {
            margin-bottom: 50px;
            }
         img {
            max-height: 400px;
            background-color: white;
            border: 3px solid silver;
            border-radius: 20px;
            box-shadow: 3px 3px 0.2em 0.2em rgba(0, 0, 0, 0.7);
            padding: 10px 40px;
            .MobileMode({ padding: 10px 10px; });
            margin-bottom: 5px;
            }
         &+blockquote {
            margin-top: -35px;
            }
         }
      &.box-frame {
         background-color: white;
         border: 5px solid silver;
         padding: 5px 20px;
         img {
            height: 100px;
            .MobileMode({ height: 70px; });
            }
         }
      &.simple-rounded {
         img {
            border: 2px solid silver;
            border-radius: 14px;
            }
         }
      &.window-shadow {
         figcaption {
            margin-top: -40px;
            }
         }
      &+blockquote {
         font-size: 1.2rem;
         margin: -15px auto 55px auto;
         }
      &.montage-loop {
         height: 250px;
         >img {
            object-fit: contain;
            background-color: black;
            border: 10px solid black;
            }
         }
      }
   figure.picture-board {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 20px;
      margin-bottom: 10px;
      >figure {
         >img {
            height: 250px;
            border: 2px solid silver;
            border-radius: 14px;
            }
         >figcaption {
            font-size: 0.9rem;
            }
         }
      }
   }
