// Think Metric
// Style: Figures

@import "static/utility-box";

// <figure class=small-picture data-size=2>
//    <img src=buffalo.jpg alt=buffalo>
//    <figcaption>buffalo</figcaption>
// </figure>
figure.small-picture {
   &[data-size="1"] { img { width: 100px; .MobileMode({ width:  75px; }); } }
   &[data-size="2"] { img { width: 200px; .MobileMode({ width: 150px; }); } }
   &[data-size="3"] { img { width: 300px; .MobileMode({ width: 225px; }); } }
   &[data-size="4"] { img { width: 400px; .MobileMode({ width: 300px; }); } }
   &[data-size="5"] { img { width: 500px; .MobileMode({ width: 375px; }); } }
   }

section {
   figure {
      &.floating-card {
         &:not(:last-child) {
            margin-bottom: 50px;
            }
         img {
            max-height: 400px;
            background-color: white;
            border: 3px solid silver;
            border-radius: 20px;
            box-shadow: 3px 3px 0.2em 0.2em rgba(0, 0, 0, 0.7);
            padding: 10px 40px;
            .MobileMode({ padding: 10px 10px; });
            margin-bottom: 5px;
            }
         &+blockquote {
            margin-top: -35px;
            }
         }
      &.box-frame {
         background-color: white;
         border: 5px solid silver;
         padding: 5px 20px;
         img {
            height: 100px;
            .MobileMode({ height: 70px; });
            }
         }
      &.simple-rounded {
         img {
            border: 2px solid silver;
            border-radius: 14px;
            }
         }
      &.window-shadow {
         figcaption {
            margin-top: -40px;
            }
         }
      &+blockquote {
         font-size: 1.2rem;
         margin: -15px auto 55px auto;
         }
      }
   }
