// Think Metric
// Style: Layout

body {
   >header {
      background-image: url(graphics/kg-weights-by-ylanite-koppens-at-pexels.jpg);
      nav#link-menu {
         a, a:visited {
            color: white;
            border-color: white;
            text-shadow: 0px 0px 0.6em black;
            }
         a.current, a:hover {
            color: white;
            border-color: gold;
            }
         }
      h2 {
         font-size: 1.5rem;
         text-shadow: 0px 0px 0.6em black;
         .MobileMode({
            font-size: 0.8rem;
            font-weight: normal;
            });
         }
      #article-nav {
         // <div id=article-nav>
         //    <i data-icon=circle-left  data-on-click=app.goToArticle data-nav=prev></i>
         //    <i data-icon=circle-right data-on-click=app.goToArticle data-nav=next></i>
         //    <ul>{% render 'src/templates/generated/articles.html' %}</ul>
         // </div>
         position: absolute;
         left: 0px;
         right: 0px;
         bottom: -65px;
         display: flex;
         justify-content: space-between;
         width: 100%;
         max-width: 1000px;
         padding: 0px 10px;
         margin: 0px auto;
         visibility: hidden;
         &.show {
            visibility: visible;
            }
         >i {
            font-size: 3em;
            cursor: pointer;
            &.hide {
               visibility: hidden;
               }
            }
         >ul {
            display: none;
            }
         }
      }
   main {
      >section {
         >p, >div {
            text-align: left;
            code {
               white-space: normal;
               }
            li {
               font-size: 1em;
               text-indent: 0px;
               padding-left: 0em;
               margin-bottom: 15px;
               }
            }
         a {
            white-space: normal;
            }
         >figure { padding: 0px 10px; }      //temporary until v2.1.4
         >figure img { max-height: 550px; }  //temporary until v2.1.4
         >p + h3 {
            margin-top: 50px;
            }
         }
      }
   >footer {
      }
   }
