// Think Metric
// Style: Layout

.SectionStyle() {
   &#toc {
      ol {
         li {
            margin-bottom: 2px;
            i.font-icon {
               width: 1.4em;
               font-size: 1.0em;
               text-align: center;
               }
            }
         }
      }
   >h2 {
      >i.font-icon {
         font-size: 1em;
         padding-right: 0.4em;
         }
      >img {
         height: 1.1em;
         padding-right: 0.5em;
         margin-bottom: -0.2em;
         }
      }
   >p, >div {
      text-align: left;
      li {
         font-size: 1em;
         text-indent: 0px;
         padding-left: 0em;
         margin-bottom: 15px;
         &:last-child {
            margin-bottom: 0px;
            }
         }
      }
   a {
      white-space: normal;
      }
   >figure {
      display: block;
      }
   >p + h3 {
      margin-top: 50px;
      }
   >p:has(i[data-icon=circle-down]) {
      text-align: center;
      }
   table {
      thead tr th {
         font-size: 1rem;
         text-align: left;
         }
      tbody tr td {
         font-size: 1rem;
         .MobileMode({ font-size: 0.9rem; });
         text-align: left;
         }
      tbody tr th {
         i.font-icon {
            font-size: 1.1em;
            padding-right: 0.4em;
            }
         }
      }
   }

body {
   >header {
      background-image: url(assets/kg-weights-by-ylanite-koppens-at-pexels.jpg);
      nav#link-menu {
         a, a:visited {
            color: white;
            border-color: white;
            text-shadow: 0px 0px 0.6em black;
            }
         a.current, a:hover {
            color: white;
            border-color: gold;
            }
         }
      h2 {
         font-size: 1.5rem;
         text-shadow: 0px 0px 0.6em black;
         .MobileMode({
            font-size: 0.8rem;
            font-weight: normal;
            });
         }
      #article-nav {
         // div#article-nav
         //    i[data-icon=circle-left,  data-on-click=app.goToArticle, data-nav=prev]
         //    i[data-icon=circle-right, data-on-click=app.goToArticle, data-nav=next]
         //    ul
         //       li a[href]
         position: absolute;
         left: 0px;
         right: 0px;
         bottom: -65px;
         display: flex;
         justify-content: space-between;
         width: 100%;
         max-width: 1000px;
         padding: 0px 10px;
         margin: 0px auto;
         visibility: hidden;
         &.show {
            visibility: visible;
            }
         >i {
            font-size: 3em;
            cursor: pointer;
            &.hide {
               visibility: hidden;
               }
            }
         >ul {
            display: none;
            }
         }
      }
   main {
      >section {
         .SectionStyle();
         }
      >section:last-child >figure:last-child {
         font-size: 1.6em;
         padding-top: 20px;
         }
      }
   >footer {
      }
   }

main.center-line {
   >section {
      p {
         text-align: center;
         }
      }
   }
