<!doctype html>
<!-- - - - - - - - -->
<!-- Think Metric  -->
<!-- - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport    content="width=device-width, initial-scale=1">
   <meta name=robots      content="index, follow">
   <meta name=description content="Think Metric 🇺🇸 Americans for Metrication 🇺🇸 {{pageTitle}}">
   <title>{{pageTitle}} 🇺🇸 Think Metric</title>
   <link rel=icon             href={{webRoot}}/graphics/bookmark.png>
   <link rel=apple-touch-icon href={{webRoot}}/graphics/think-metric-logo.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{pkg.dependencies.-fortawesome-fontawesome-free|version}}/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{pkg.dependencies.web-ignition|version}}/dist/reset.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{pkg.dependencies.web-ignition|version}}/dist/layouts/zebra-sections.css>
   <link rel=stylesheet       href={{webRoot}}/style.css>
   <script src=https://cdn.jsdelivr.net/npm/web-ignition@{{pkg.dependencies.web-ignition|version}}/dist/lib-x.min.js></script>
   <script>
      const app = {
         start() {
            // Link Menu HTML example:
            //    <nav id=link-menu><a href=.>Home</a><a href=about>About</a></nav>
            const linkMenu = globalThis.document.getElementById('link-menu');
            const setCurrentPage = () => {
               const pageName = globalThis.location.pathname.replace(/index.[a-z]*$/, '').replace(/\/$/, '').replace(/.*\//, '');
               const active =   linkMenu.querySelector(`a[href$="${pageName}"]`);
               const current =  active || linkMenu.firstElementChild;
               current.classList.add('current');
               console.log({name, active, current});
               }
            if (linkMenu)
               setCurrentPage();
            },
         };
      libX.dom.onReady(app.start);
   </script>
</head>
<body>

<header>
   <nav id=link-menu>
      <a href={{webRoot}}>Home</a>
      <a href={{webRoot}}/products>Products</a>
      <a href={{webRoot}}/poetry>Poetry</a>
      <a href={{webRoot}}/elsewhere>Elsewhere</a>
   </nav>
   <h1>Think Metric</h1>
   <h2>🇺🇸 Americans for Metrication 🇺🇸</h2>
   <img src={{webRoot}}/graphics/think-metric-logo.png alt=logo>
</header>
