{% assign defaultImageUrl = webRoot | append: '/graphics/social-media/think-metric-logo-card.png' %}
{% assign imageUrl =        heroImage | default: defaultImageUrl %}
{% assign imageCaption =    heroCaption | default: 'Logo' %}
<!doctype html>
<!-- - - - - - - - -->
<!-- Think Metric  -->
<!-- {{ "now" | date: "%Y-%m-%d" }}    -->
<!-- - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Think Metric 🇺🇸 {{articleTitle}} 🇺🇸 Practical ways to go metric">
   <meta name=apple-mobile-web-app-title content="Think Metric">
   <meta name=twitter:card               content="summary_large_image">
   <meta name=twitter:title              content="{{articleTitle}}">
   <meta name=twitter:description        content="Think Metric 🇺🇸 Americans for Metrication: Practical ways to go metric">
   <meta name=twitter:image              content="{{imageUrl}}">
   <meta name=twitter:image:alt          content="{{imageCaption}}">
   <meta property=og:title               content="{{articleTitle}}">
   <meta property=og:description         content="Think Metric 🇺🇸 Americans for Metrication: Practical ways to go metric">
   <meta property=og:type                content="website">
   <meta property=og:image               content="{{imageUrl}}">
   <meta property=og:image:alt           content="{{imageCaption}}">
   <title>{{articleTitle}} 🇺🇸 Think Metric</title>
   <link rel=icon             href={{webRoot}}/graphics/bookmark.png>
   <link rel=apple-touch-icon href={{webRoot}}/graphics/think-metric-logo.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{package.dependencies.-fortawesome-fontawesome-free|version}}/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@{{package.dependencies.dna-engine|version}}/dist/dna-engine.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{package.dependencies.web-ignition|version}}/dist/reset.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{package.dependencies.web-ignition|version}}/dist/layouts/zebra-sections.css>
   <link rel=stylesheet       href={{webRoot}}/style.css>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@{{package.dependencies.dna-engine|version}}/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@{{package.dependencies.web-ignition|version}}/dist/lib-x.min.js></script>
   <script defer src={{webRoot}}/calculator/ingredients-db.js></script>
   <script defer src={{webRoot}}/app.js></script>
</head>
<body>

<header>
   <nav id=link-menu>
      <a href={{webRoot}}>Home</a>
      <a href={{webRoot}}/products>Products</a>
      <a href={{webRoot}}/do-not-learn-metric>Just Use It</a>
      <a href={{webRoot}}/calculator>Kitchen</a>
      <a href={{webRoot}}/elsewhere>Elsewhere</a>
   </nav>
   <h1>Think Metric</h1>
   <h2>🇺🇸&nbsp;Americans for Metrication&nbsp;🇺🇸</h2>
   <img src={{webRoot}}/graphics/think-metric-logo.png alt=logo>
   <div id=article-nav>
      <i data-icon=circle-left></i>
      <i data-icon=circle-right></i>
      <ul>{% render 'src/templates/generated/articles.html' %}</ul>
   </div>
</header>
