<footer>
   <div>
      <a title=think-metric.org href=https://think-metric.org><i data-icon=home></i></a>
      <a title=Checklist        href={{webRoot}}/#checklist><i data-icon=list-ol></i></a>
      <a title=Discussions      href=https://github.com/center-key/think-metric/discussions><i data-icon=comments></i></a>
      <a title=GitHub           href=https://github.com/center-key/think-metric><i data-brand=github></i></a>
      <a title=Reddit           href=https://www.reddit.com/r/ThinkMetric><i data-brand=reddit></i></a>
   </div>
   <div class=external-site>
      <a title=CC0 href=https://creativecommons.org/public-domain/cc0 data-license=CC0>
         <i data-brand=creative-commons></i>
      </a>
   </div>
</footer>

</body>
</html>
