<footer>
   <div>
      <a href=https://think-metric.org><i data-icon=home></i></a>
      <a href=https://github.com/center-key/think-metric/discussions><i data-icon=comments></i></a>
      <a href=https://github.com/center-key/think-metric><i data-brand=github></i></a>
      <a href=https://www.reddit.com/r/ThinkMetric><i data-brand=reddit></i></a>
   </div>
   <div class=external-site>
      <a href=https://creativecommons.org/public-domain/cc0 data-license=CC0 title=CC0>
         <i data-brand=creative-commons></i>
      </a>
   </div>
</footer>

</body>
</html>
