<!-- src/templates/metric-in-america-examples.html -->
<tbody>
   <tr><td><b>1 L</b> water bottles</td></tr>
   <tr><td><b>2 L</b> soda bottles</td></tr>
   <tr><td><b>3 L</b> milk jugs</td></tr>
   <tr><td><b>750 ml</b> bottles of wine</td></tr>
   <tr><td><b>5K</b> runs</td></tr>
   <tr><td><b>4&times;400m</b> relay track events</td></tr>
   <tr><td><b>100m</b> dash events (<i>"world's fastest human"</i>)</td></tr>
   <tr><td><b>100m</b> freestyle swimming events</td></tr>
   <tr><td><b>9mm</b> guns</td></tr>
   <tr><td><b>35mm</b> rolls of film and <b>70mm</b> movie format</td></tr>
   <tr><td><b>mm</b> for camera lenses (<b>50mm</b> <i>"nifty fifty"</i>)</td></tr>
   <tr><td><b>grams</b> on food labels</td></tr>
   <tr><td><b>mg</b> for pills and <b>mL</b> (or outdated <b>cc</b>) for shots</td></tr>
   <tr><td><b>5L</b> engine displacement</td></tr>
   <tr><td>Car parts almost all metric (<b>mm</b>)</td></tr>
   <tr><td><b>mm</b> for saw blade arbor (spindle) sizes</td></tr>
   <tr><td><b>1 m</b> long USB-C cables</td></tr>
   <tr><td>Standard <b>120-volt</b> household outlets</td>
   <tr><td><b>megawatts (MW)</b> and <b>gigawatts (GW)</b> for public power projects</td>
   <tr><td><b>mm</b> for 3D printers</td></tr>
   <tr><td><b>klicks (km)</b> in the military</td></tr>
   <tr><td><b>km</b> and <b>km/h</b> for SpaceX livestreams</td></tr>
   <tr><td>Metric in video games (<b>km/h</b>, <b>m</b>, <b>m/s</b>)</td></tr>
</tbody>
