<!-- src/templates/metric-in-america-examples.html -->
<tbody>
   <tr><td><b>2 L</b> soda bottles</td></tr>
   <tr><td><b>1 L</b> water bottles</td></tr>
   <tr><td><b>750 ml</b> bottles of wine</td></tr>
   <tr><td><b>5K</b> runs</td></tr>
   <tr><td><b>4&times;400m</b> relay track events</td></tr>
   <tr><td><b>100m</b> dash events (world's fastest human)</td></tr>
   <tr><td><b>100m</b> freestyle swimming events</td></tr>
   <tr><td><b>9mm</b> guns</td></tr>
   <tr><td><b>35mm</b> rolls of film and <b>70mm</b> movie format</td></tr>
   <tr><td><b>mm</b> for camera lenses (<b>50mm</b> "nifty fifty")</td></tr>
   <tr><td><b>grams</b> on food labels</td></tr>
   <tr><td><b>mg</b> for pills and <b>cc</b> for shots</td></tr>
   <tr><td><b>5L</b> engine displacement</td></tr>
   <tr><td>car parts almost all metric (<b>mm</b>)</td></tr>
   <tr><td><b>1 m</b> USB-C cables</td></tr>
   <tr><td>Standard <b>120-volt</b> household outlets</td></tr>
   <tr><td><b>mm</b> for 3D printing machines</td></tr>
   <tr><td><b>klicks</b> (km) in the military</td></tr>
   <tr><td><b>km</b> and <b>km/h</b> for SpaceX livestreams</td></tr>
   <tr><td>metric in video games (<b>km/h</b>, <b>m</b>, <b>m/s</b>)</td></tr>
</tbody>
