{% assign tapeMeasure = webRoot | append: '/article/go-fast-with-high-contrast-metric-only-tape-measures' %}
{% assign photoReview = webRoot | append: '/article/create-product-reviews-showing-metric-references' %}
{% assign recipe =      'https://pilafian.org/dem/pilaf' %}
{% assign github =      'https://github.com/center-key/think-metric' %}
{% assign reddit =      'https://www.reddit.com/r/ThinkMetric' %}

<ol class=metrication-checklist data-on-click=app.checklist.save>
   <li id=phone>        <p>Set your mobile device to metric</p>                                                   <label><input type=checkbox><b></b></label></li>
   <li id=car>          <p>Set the display in your car to Celsius (&deg;C)</p>                                    <label><input type=checkbox><b></b></label></li>
   <li id=home>         <p>Set your home thermostat to Celsius (&deg;C)</p>                                       <label><input type=checkbox><b></b></label></li>
   <li id=refrigerator> <p>Set your refrigerator to Celsius (&deg;C)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=tape-measure> <p>Buy a metric only <a href={{tapeMeasure}}>tape measure</a></p>                         <label><input type=checkbox><b></b></label></li>
   <li id=kitchen-scale><p>Buy a <a href={{webRoot}}/products>kitchen scale</a> that displays grams (g)</p>       <label><input type=checkbox><b></b></label></li>
   <li id=bathroom>     <p>Set your bathroom scale to kilograms (kg)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=helpful>      <p>Click "Helpful" for a review of a good metric product</p>                              <label><input type=checkbox><b></b></label></li>
   <li id=5-star>       <p>Leave a 5 star review for a good metric product</p>                                    <label><input type=checkbox><b></b></label></li>
   <li id=recipe>       <p>Follow a <a href={{recipe}} class=external-site>metric recipe</a> to prepare a dish</p><label><input type=checkbox><b></b></label></li>
   <li id=diy>          <p>Complete a DIY project using only metric</p>                                           <label><input type=checkbox><b></b></label></li>
   <li id=video>        <p>Up vote a video on social media that uses only metric</p>                              <label><input type=checkbox><b></b></label></li>
   <li id=labeling>     <p>Purchase a product for its better metric labeling</p>                                  <label><input type=checkbox><b></b></label></li>
   <li id=family-recipe><p>Convert a family recipe to metric and share</p>                                        <label><input type=checkbox><b></b></label></li>
   <li id=comment>      <p>Use metric units in a social media comment</p>                                         <label><input type=checkbox><b></b></label></li>
   <li id=photo-review> <p>Post a <a href={{photoReview}}>product review</a> showing a metric reference</p>       <label><input type=checkbox><b></b></label></li>
   <li id=github>       <p>Star the <a href={{github}}>think-metric</a> project on GitHub</p>                     <label><input type=checkbox><b></b></label></li>
   <li id=reddit>       <p>Join <a href={{reddit}}>r/ThinkMetric</a> on Reddit</p>                                <label><input type=checkbox><b></b></label></li>
</ol>
