{% assign githubHome =   'https://github.com/center-key/think-metric' %}
{% assign metricRecipe = 'https://pilafian.org/dem/pilaf class=external-site' %}
{% assign metricReview = 'article/review-a-quality-metric-only-product' %}
{% assign mobileDevice = 'article/how-to-switch-your-mobile-device-to-metric' %}
{% assign photoReview =  'article/create-product-reviews-showing-metric-references' %}
{% assign redditSub =    'https://www.reddit.com/r/ThinkMetric' %}
{% assign tapeMeasure =  'article/go-fast-with-high-contrast-metric-only-tape-measures' %}

<ol class=numbered-marble-checklist data-on-click=app.checklist.save>
   <li id=phone>        <p>Set your <a href={{mobileDevice}}>mobile device</a> to metric</p>                      <label><input type=checkbox><b></b></label></li>
   <li id=car>          <p>Set the display in your car to Celsius (&deg;C)</p>                                    <label><input type=checkbox><b></b></label></li>
   <li id=home>         <p>Set your home thermostat to Celsius (&deg;C)</p>                                       <label><input type=checkbox><b></b></label></li>
   <li id=refrigerator> <p>Set your refrigerator to Celsius (&deg;C)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=bathroom>     <p>Set your bathroom scale to kilograms (kg)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=labeling>     <p>Purchase a product for its better metric labeling</p>                                  <label><input type=checkbox><b></b></label></li>
   <li id=kitchen-scale><p>Buy a <a href=products#scales>kitchen scale</a> that displays grams (g)</p>            <label><input type=checkbox><b></b></label></li>
   <li id=tape-measure> <p>Buy a metric-only <a href={{tapeMeasure}}>tape measure</a></p>                         <label><input type=checkbox><b></b></label></li>
   <li id=5-star>       <p>Leave a <a href={{metricReview}}>5-star review</a> for a good metric-only product</p>  <label><input type=checkbox><b></b></label></li>
   <li id=photo-review> <p>Post a <a href={{photoReview}}>product review</a> showing a metric reference</p>       <label><input type=checkbox><b></b></label></li>
   <li id=helpful>      <p>Click "Helpful" for a review of a good metric-only product</p>                         <label><input type=checkbox><b></b></label></li>
   <li id=video>        <p>Up vote a video on social media that uses only metric</p>                              <label><input type=checkbox><b></b></label></li>
   <li id=comment>      <p>Use metric units in a social media comment</p>                                         <label><input type=checkbox><b></b></label></li>
   <li id=printer>      <p>Load your printer with <a href=products#office-supplies>A4 size paper</a></p>          <label><input type=checkbox><b></b></label></li>
   <li id=recipe>       <p>Follow a <a href={{metricRecipe}}>metric recipe</a> to prepare a dish</p>              <label><input type=checkbox><b></b></label></li>
   <li id=family-recipe><p><a href=calculator>Convert</a> a family recipe to metric and share</p>                 <label><input type=checkbox><b></b></label></li>
   <li id=diy>          <p>Complete a DIY project using only metric</p>                                           <label><input type=checkbox><b></b></label></li>
   <li id=github>       <p>Star the <a href={{githubHome}}>think-metric</a> project on GitHub</p>                 <label><input type=checkbox><b></b></label></li>
   <li id=reddit>       <p>Join <a href={{redditSub}}>r/ThinkMetric</a> on Reddit</p>                             <label><input type=checkbox><b></b></label></li>
</ol>
