<i>
atto   (<b>a</b>)  10<sup>-18</sup>,
centi  (<b>c</b>)  10<sup>-2</sup>,
deci   (<b>d</b>)  10<sup>-1</sup>,
deka   (<b>da</b>) 10<sup>1</sup>,
exa    (<b>E</b>)  10<sup>18</sup>,
femto  (<b>f</b>)  10<sup>-15</sup>,
giga   (<b>G</b>)  10<sup>9</sup>,
hecto  (<b>h</b>)  10<sup>2</sup>,
kilo   (<b>k</b>)  10<sup>3</sup>,
mega   (<b>M</b>)  10<sup>6</sup>,
micro  (<b>μ</b>)  10<sup>-6</sup>,
milli  (<b>m</b>)  10<sup>-3</sup>,
nano   (<b>n</b>)  10<sup>-9</sup>,
peta   (<b>P</b>)  10<sup>15</sup>,
pico   (<b>p</b>)  10<sup>-12</sup>,
quecto (<b>q</b>)  10<sup>-30</sup>,
quetta (<b>Q</b>)  10<sup>30</sup>,
ronna  (<b>R</b>)  10<sup>27</sup>,
ronto  (<b>r</b>)  10<sup>-27</sup>,
tera   (<b>T</b>)  10<sup>12</sup>,
yocto  (<b>y</b>)  10<sup>-24</sup>,
yotta  (<b>Y</b>)  10<sup>24</sup>,
zepto  (<b>z</b>)  10<sup>-21</sup>,
zetta  (<b>Z</b>)  10<sup>21</sup>,
</i>and the oddball<i>
angstrom (<b>Å</b>) 10<sup>-10</sup>.
</i>
