<i>
quetta (Q) 10<sup>30</sup>,
ronna  (R) 10<sup>27</sup>,
yotta  (Y) 10<sup>24</sup>,
zetta  (Z) 10<sup>21</sup>,
exa    (E) 10<sup>18</sup>,
peta   (P) 10<sup>15</sup>,
tera   (T) 10<sup>12</sup>,
giga   (G) 10<sup>9</sup>,
mega   (M) 10<sup>6</sup>,
kilo   (k) 10<sup>3</sup>,
hecto  (h) 10<sup>2</sup>,
deka   (d) 10<sup>-1</sup>,
centi  (c) 10<sup>-2</sup>,
milli  (m) 10<sup>-3</sup>,
micro  (μ) 10<sup>-6</sup>,
nano   (n) 10<sup>-9</sup>,
pico   (p) 10<sup>-12</sup>,
femto  (f) 10<sup>-15</sup>,
atto   (a) 10<sup>-18</sup>,
zepto  (z) 10<sup>-21</sup>,
yocto  (y) 10<sup>-24</sup>,
ronto  (r) 10<sup>-27</sup>,
</i>and<i>
quecto (q) 10<sup>-30</sup>
</i>
