<table class=big-table>
   <thead>
      <tr><th>Item</th><th>Note</th><th>Image</th></tr>
   </thead>
   <tbody class=external-site>

      <tr>
         <th colspan=3>Tape measures</th>
      </tr>
      <tr>
         <td>🏆 Takamine Professional Tape Measure, 5.5m</td>
         <td>Easy-to-read</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/617appeX1+L._AC_UL116_SR116,116_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>🏆 PICAGER Self-Lock Metric Only Tape Measure, 5m</td>
         <td>Easy-to-read</td>
         <td><img src=https://m.media-amazon.com/images/I/41fNGM8xVEL._SY445_SX342_QL70_ML2_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Milwaukee Autolock Tape Measure, 5m</td>
         <td>Professional</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/41-D1eYimYL._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Milwaukee Pro Compact Metric Tape Measure, 8m</td>
         <td>Professional</td>
         <td><img src=http://images.amazon.com/images/P/B07F443K2T.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>STANLEY FATMAX Classic Tape with Blade Armor, 8m</td>
         <td>Sturdy</td>
         <td><img src=http://images.amazon.com/images/P/B000X2F0GO.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>STANLEY FATMAX Autolock Tape, 5m</td>
         <td>Sturdy</td>
         <td><img src=http://images.amazon.com/images/P/B00OAFBOJM.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Komelon PG85 Metric Gripper Tape, 8m</td>
         <td>Good value</td>
         <td><img src=http://images.amazon.com/images/P/B0064XJTFY.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>OX Trade Series Metric Tape Nylon Coated, 3m</td>
         <td>Compact size</td>
         <td><img src=http://images.amazon.com/images/P/B075SHJ6G4.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Stanley Tylon Tape Measure, Black/Yellow, 3m / 5m / 8m</td>
         <td>Compact size</td>
         <td><img src=http://images.amazon.com/images/P/B003Y6ISWO.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Komelon Keymaster Pocket Mini Tape Measure, 2m</td>
         <td>Pocket size</td>
         <td><img src=https://m.media-amazon.com/images/I/5137naguK0L._SL500_AC_SS125_FMwebp_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>PENCO Pocket Measure Red, 2m</td>
         <td>Pocket size</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/71xTUXsiNPL._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Utoolmart 2m Measuring Tape</td>
         <td>Pocket size</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/51DBNtry6PL._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>FastCap Tape Measure, Black/Blue, 5m</td>
         <td>Standard mm only</td>
         <td><img src=http://images.amazon.com/images/P/B000GFHABG.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Architect Scales</th>
      </tr>
      <tr>
         <td>Alumicolor Metric Architect Hollow Scale, 30cm, 20/25/50/75/100/125</td>
         <td>Aluminum</td>
         <td><img src=http://images.amazon.com/images/P/B088P8DB5S.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Alumicolor Aluminum Engineer Metric Pocket Scale, 15cm, 1/2/5/10/20/50</td>
         <td>Pocket size</td>
         <td><img src=http://images.amazon.com/images/P/B0884M55FJ.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Meter Sticks</th>
      </tr>
      <tr>
         <td>Shinwa 1,000 mm Rigid "Zero Glare" Metric Machinist Rule, 1m</td>
         <td>Stainless steel</td>
         <td><img src=https://m.media-amazon.com/images/I/81O5KsYXxcL._AC_AA152_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Double Sided Meter Stick, Hardwood, Protective Metal Ends, 1m</td>
         <td>Wood</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/71En27I4g1L._AC_UL116_SR116,116_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Rulers</th>
      </tr>
      <tr>
         <td>🏆 Shinwa Sokutei Pickup Scale (Ruler), 10cm / 15cm / 30cm / 60cm</td>
         <td>Stainless steel</td>
         <td><img src=http://images.amazon.com/images/P/B0016V5NQ8.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Midori Aluminium Ruler Black, 15cm</td>
         <td>Small, aluminium</td>
         <td><img src=http://images.amazon.com/images/P/B00E7P5QYY.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Midori Metric CL Ruler Clear, 15cm</td>
         <td>Small, plastic</td>
         <td><img src=http://images.amazon.com/images/P/B0091FP46K.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Wiha MaxiFlex Folding Ruler, Outside Reading, 2m</td>
         <td>Fiberglass folding ruler</td>
         <td><img src=http://images.amazon.com/images/P/B002VA59QW.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Adhesive Rulers</th>
      </tr>
      <tr>
         <td>uxcell Adhesive Backed Tape Measure, 10cm</td>
         <td>PVC sticker</td>
         <td><img src=https://m.media-amazon.com/images/I/21ZL3dOk52S._SL500_AC_SS125_FMwebp_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Steel Metric Self Adhesive String Ruler, 1m</td>
         <td>Metal sticker</td>
         <td><img src=https://m.media-amazon.com/images/I/31-8CWQBu-L._SL500_AC_SS125_FMwebp_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Calipers</th>
      </tr>
      <tr>
         <td>Utoolmart Vernier Caliper 80mm Measuring Tool, Outside Inside</td>
         <td>Copper</td>
         <td><img src=https://m.media-amazon.com/images/I/31p+k5ywiJL._SL500_AC_SS125_FMwebp_.jpg alt=preview></td>
      </tr>

      <tr>
         <td>Tyenaza Vernier Caliper, 0mm-150mm Range, 0.02mm Accuracy</td>
         <td>Stainless Steel</td>
         <td><img src=https://m.media-amazon.com/images/I/41B1cc6d3RL._SL500_AC_SS125_FMwebp_.jpg alt=preview></td>
      </tr>

      <tr>
         <td>Mitutoyo Digital Caliper, 0-150mm Range</td>
         <td>Solar powered</td>
         <td><img src=http://images.amazon.com/images/P/B000W9FN0G.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Measuring Spoons and Cups</th>
      </tr>
      <tr>
         <td>Bezall 5 in 1 Colorful Plastic Measuring Spoons Set, Kitchen Cooking Baking Tools</td>
         <td>Plastic</td>
         <td><img src=https://m.media-amazon.com/images/I/51KCdSxZFnL._AC_AA152_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>🏆 CHEFMADE Hello Kitty Glass Measuring Cup, Pour Spout, 350 ml</td>
         <td>Glass</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/61TdW5imHHS._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Appletofu Funnel Pitcher, Easy Pour Plastic Measuring Cup with Long Spout, Microwave Safe, 1,000 ml</td>
         <td>Plastic</td>
         <td><img src=https://m.media-amazon.com/images/I/51eku7tiu4S._AC_AA152_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Multi-Function Food Grade Measuring Cup with Handle and Durable Bamboo Lid, 350&nbsp;ml / 500&nbsp;ml / 1,000&nbsp;ml</td>
         <td>Glass</td>
         <td><img src=https://m.media-amazon.com/images/I/41wfWn03H0L._AC_AA152_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Scales</th>
      </tr>
      <tr>
         <td>🏆 Tanita KF-200 Kitchen Scale, 2 kg</td>
         <td>Digital</td>
         <td><img src=http://images.amazon.com/images/P/B01LZA1UM3.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Tanita 1445 Kitchen Scale, 1 kg (5 g increments)</td>
         <td>Analog</td>
         <td><img src=http://images.amazon.com/images/P/B0000C98E9.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Thermometers</th>
      </tr>
      <tr>
         <td>Indoor/Outdoor Mini Temperature Humidity Meter</td>
         <td>Analog</td>
         <td><img src=http://images.amazon.com/images/P/B07DVMHLL2.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Reotemp K82P-7 Large Dial Easy Read Pocket Thermometer, -10 to 110 °C, Waterproof</td>
         <td>Pocket</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/41qeUNvv88L._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Robinair Dial Thermometer, -40 to 70 °C</td>
         <td>Pocket</td>
         <td><img src=http://images.amazon.com/images/P/B003N3T2SM.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Kettles</th>
      </tr>
      <tr>
         <td>Aigostar Electric Kettle Temperature Control 1.7L, LED Indicator Light Change</td>
         <td>Auto shut-off</td>
         <td><img src=https://m.media-amazon.com/images/I/51CaxR-Ch5L._SS250_.jpg alt=preview></td>
      </tr>
      <tr>
         <td>Retro Electric Hot Water Kettle, 1,350w Quick Boil, Auto Shut-Off</td>
         <td>Analog</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/61qQ5LmhDdL._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Tool Sets</th>
      </tr>
      <tr>
         <td>Makita Metric Bit and Hand Tool Set</td>
         <td>Carrying case</td>
         <td><img src=http://images.amazon.com/images/P/B006LPKXQ4.01._THUMBZZZ_.jpg alt=preview></td>
      </tr>

      <tr>
         <th colspan=3>Paper</th>
      </tr>
      <tr>
         <td>A4 Size Premium Printer Paper by Double A, 100 Sheets</td>
         <td>White</td>
         <td><img src=https://images-na.ssl-images-amazon.com/images/I/61LL8oFrjTL._AC_UL232_SR232,232_.jpg alt=preview></td>
      </tr>

   </tbody>
</table>
