<li><a href=#tape-measures>             <i data-icon=tape></i>               Tape Measures</a></li>
<li><a href=#meter-sticks>              <i data-icon=ruler-vertical></i>     Meter Sticks</a></li>
<li><a href=#rulers>                    <i data-icon=ruler></i>              Rulers</a></li>
<li><a href=#adhesive-rulers>           <i data-icon=ticket></i>             Adhesive Rulers</a></li>
<li><a href=#calipers>                  <i data-icon=arrows-left-right-to-line></i> Calipers</a></li>
<li><a href=#squares>                   <i data-icon=ruler-combined></i>     Squares &amp; Blocks</a></li>
<li><a href=#architect-scales>          <i data-icon=building></i>           Architect Scales</a></li>
<li><a href=#measuring-spoons-and-cups> <i data-icon=kitchen-set></i>        Measuring Spoons &amp; Cups</a></li>
<li><a href=#scales>                    <i data-icon=weight-scale></i>       Scales</a></li>
<li><a href=#thermometers>              <i data-icon=temperature-half></i>   Thermometers</a></li>
<li><a href=#kettles>                   <i data-icon=mug-hot></i>            Kettles</a></li>
<li><a href=#tool-sets>                 <i data-icon=screwdriver-wrench></i> Tool Sets</a></li>
<li><a href=#office-supplies>           <i data-icon=stapler></i>            Office Supplies</a></li>
<li><a href=#education-and-games>       <i data-icon=graduation-cap></i>     Education &amp; Games</a></li>
