<li><i data-icon=tape               data-href=#tape-measures></i>       <a href=#tape-measures>      Tape Measures</a></li>
<li><i data-icon=person-walking     data-href=#pocket></i>              <a href=#pocket>             Pocket Tape Measures</a></li>
<li><i data-icon=ruler-vertical     data-href=#meter-sticks></i>        <a href=#meter-sticks>       Meter Sticks</a></li>
<li><i data-icon=ruler              data-href=#rulers></i>              <a href=#rulers>             Rulers</a></li>
<li><i data-icon=ticket             data-href=#adhesive-rulers></i>     <a href=#adhesive-rulers>    Adhesive Rulers</a></li>
<li><i data-icon=arrows-left-right-to-line data-href=#calipers></i>     <a href=#calipers>           Calipers</a></li>
<li><i data-icon=ruler-combined     data-href=#squares></i>             <a href=#squares>            Squares & Blocks</a></li>
<li><i data-icon=building           data-href=#architect-scales></i>    <a href=#architect-scales>   Architect Scales</a></li>
<li><i data-icon=kitchen-set        data-href=#spoons-and-cups></i>     <a href=#spoons-and-cups>    Measuring Spoons & Cups</a></li>
<li><i data-icon=weight-scale       data-href=#scales></i>              <a href=#scales>             Weight Scales</a></li>
<li><i data-icon=temperature-half   data-href=#thermometers></i>        <a href=#thermometers>       Thermometers</a></li>
<li><i data-icon=mug-hot            data-href=#kettles></i>             <a href=#kettles>            Kettles</a></li>
<li><i data-icon=screwdriver-wrench data-href=#tool-sets></i>           <a href=#tool-sets>          Tool Sets</a></li>
<li><i data-icon=stapler            data-href=#office-supplies></i>     <a href=#office-supplies>    Office Supplies</a></li>
<li><i data-icon=graduation-cap     data-href=#education-and-games></i> <a href=#education-and-games>Education & Games</a></li>
