<table class=big-table>
   <caption>mil | cem | met | klick | mig | gram | kilo | ton | leat | meg</caption>
   <thead>
      <tr><th>Symbol</th><th>Unit</th><th>Word</th><th>Examples</th></tr>
   </thead>
   <tbody>
      <tr><td><code>mm</code></td><td>millimeter</td><td><b>mil</b></td>      <td>"I was a mil away from death."</td></tr>
      <tr><td><code>cm</code></td><td>centimeter</td><td><b>cem</b></td>      <td>"We're making progress cem by cem."<br>"The President mustn't budge a cem."</td></tr>
      <tr><td><code>m</code></td> <td>meter</td>     <td><b>met</b></td>      <td>"Visibility is down to a few mets."</td></tr>
      <tr><td><code>km</code></td><td>kilometer</td> <td><b>klick</b> or <b>kay</b></td><td>"Give someone a cem and they'll take a klick."<br>"A journey of a thousand klicks begins with a single step."<br>"Good grief, you missed by a country klick!"<br>"Go the extra klick."<br>"Only mets away but klicks apart."</td></tr>
      <tr><td><code>mg</code></td><td>milligram</td> <td><b>mig</b></td>      <td>"A raindrop weighs just 4 migs."</td></tr>
      <tr><td><code>g</code></td> <td>gram</td>      <td><b>gram</b></td>     <td>"A gram of prevention is worth a kilo of cure."</td></tr>
      <tr><td><code>kg</code></td><td>kilogram</td>  <td><b>kilo</b> or <b>key</b></td><td>"Coke is the 500 kilo gorilla in the soft drink market."<br>"A gram of help is better than a kilo of preaching."<br>"Sugar Ray Robinson is the greatest kilo-for-kilo boxer of all time."</td></tr>
      <tr><td><code>Mg</code></td><td>megagram</td>  <td><b>ton</b></td>      <td>"That's gonna land on you like a ton of bricks."</td></tr>
      <tr><td><code>ml</code></td><td>milliliter</td><td><b>mil</b> or <b>cc</b></td><td>"20 raindrops make a mil."<br>"A mil is the volume of one cubic cem (1 cm<sup>3</sup>)."<br>"A cc is the volume of one cubic cem (1 cm<sup>3</sup>)."</td></tr>
      <tr><td><code>L</code></td> <td>liter</td>     <td><b>leat</b></td>     <td>"A cube 10 cems on edge is one leat."<br>"A mil of honey will catch more flies than a leat of vinegar."<br>"I love milk - I drink leats of the stuff."</td></tr>
      <tr><td><code>ML</code></td><td>megaliter</td> <td><b>meg</b></td>      <td>"A cube 10 mets on edge is one meg."<br>"An Olympic-size swimming pool is about 2.5 megs."</td></tr>
   </tbody>
</table>
