<!-- src/templates/table-of-products.html -->
<!--
Use the HTML template below to add a new product.
Replace the variables as appropriate for the new product:
   {{PRODUCT-ID}} ==>    Amazon Standard Identification Number (ASIN)
   {{PRODUCT-TITLE}} ==> A cleaned up version of the title
   {{PRODUCT-NOTE}} ==>  One or two words highlighting a key characteristic
If the product image does not render, you'll unfortunately have to laboriously search
through the page to find an appropriate product image URL.

<tr>
   <td><a href=https://www.amazon.com/dp/{{PRODUCT-ID}}>{{PRODUCT-TITLE}}</a></td>
   <td>{{PRODUCT-SHORT-NOTE}}</td>
   <td><a href=https://www.amazon.com/dp/{{PRODUCT-ID}}><img src=https://images.amazon.com/images/P/{{PRODUCT-ID}}.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

-->

<!-- Tape Measures -->
<tr id=tape-measures>
   <th colspan=3><i data-icon=tape></i> Tape Measures</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0BJV484FK>🏆 Takamine Professional Tape Measure, 5.5m</a></td>
   <td>High contrast</td>
   <td><a href=https://www.amazon.com/dp/B0BJV484FK><img src=https://images-na.ssl-images-amazon.com/images/I/617appeX1+L._AC_UL116_SR116,116_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0CGCT9CSQ>🏆 PICAGER Self-Lock Metric-Only Tape Measure, 5m</a></td>
   <td>High contrast</td>
   <td><a href=https://www.amazon.com/dp/B0CGCT9CSQ><img src=https://m.media-amazon.com/images/I/41fNGM8xVEL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07PJNQ9HP>Milwaukee Autolock Tape Measure, 5m</a></td>
   <td>Professional</td>
   <td><a href=https://www.amazon.com/dp/B07PJNQ9HP><img src=https://images-na.ssl-images-amazon.com/images/I/41-D1eYimYL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07F443K2T>Milwaukee Pro Compact Metric Tape Measure, 8m</a></td>
   <td>Professional</td>
   <td><a href=https://www.amazon.com/dp/B07F443K2T><img src=https://images.amazon.com/images/P/B07F443K2T.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B00X52QEN2>Keson Tape Measure, Nylon Coated Steel Blade, 25mm &times; 5m</a></td>
   <td>Orange</td>
   <td><a href=https://www.amazon.com/dp/B00X52QEN2><img src=https://m.media-amazon.com/images/I/71qan7WOq6L.__AC_SX300_SY300_QL70_ML2_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B00GFTFYQA>Keson Tape Measure, Nylon Coated Steel Blade, 16mm &times; 3m</a></td>
   <td>Orange</td>
   <td><a href=https://www.amazon.com/dp/B00GFTFYQA><img src=https://images.amazon.com/images/P/B00GFTFYQA.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B000X2F0GO>STANLEY FATMAX Classic Tape with Blade Armor, 8m</a></td>
   <td>Sturdy</td>
   <td><a href=https://www.amazon.com/dp/B000X2F0GO><img src=https://images.amazon.com/images/P/B000X2F0GO.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B00OAFBOJM>STANLEY FATMAX Autolock Tape, 5m</a></td>
   <td>Sturdy</td>
   <td><a href=https://www.amazon.com/dp/B00OAFBOJM><img src=https://images.amazon.com/images/P/B00OAFBOJM.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0BD44R2T7>Levels X-Rocker Measuring Tape, 5m</a></td>
   <td>Double-Sided</td>
   <td><a href=https://www.amazon.com/dp/B0BD44R2T7><img src=https://images-na.ssl-images-amazon.com/images/I/61-FvNhbSTL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0064XJTFY>Komelon PG85 Metric Gripper Tape, 8m</a></td>
   <td>Good value</td>
   <td><a href=https://www.amazon.com/dp/B0064XJTFY><img src=https://images.amazon.com/images/P/B0064XJTFY.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B075SHJ6G4>OX Trade Series Metric Tape Nylon Coated, 3m</a></td>
   <td>Compact size</td>
   <td><a href=https://www.amazon.com/dp/B075SHJ6G4><img src=https://images.amazon.com/images/P/B075SHJ6G4.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B003Y6ISWO>Stanley Tylon Tape Measure, Black/Yellow, 3m / 5m / 8m</a></td>
   <td>Compact size</td>
   <td><a href=https://www.amazon.com/dp/B003Y6ISWO><img src=https://images-na.ssl-images-amazon.com/images/I/61QV9z+h55L._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>

<!-- Pocket Tape Measures -->
<tr id=pocket>
   <th colspan=3><i data-icon=person-walking></i> Pocket Tape Measures</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07F61NTLR>🏆 Komelon Keymaster Pocket Mini Tape Measure, 2m</a></td>
   <td>Pocket size</td>
   <td><a href=https://www.amazon.com/dp/B07F61NTLR><img src=https://m.media-amazon.com/images/I/5137naguK0L._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B01N5FBDKB>PENCO Pocket Measure Red, 2m</a></td>
   <td>Pocket size</td>
   <td><a href=https://www.amazon.com/dp/B01N5FBDKB><img src=https://images-na.ssl-images-amazon.com/images/I/71xTUXsiNPL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B082NK92BX>Utoolmart 2m Measuring Tape</a></td>
   <td>Pocket size</td>
   <td><a href=https://www.amazon.com/dp/B082NK92BX><img src=https://images-na.ssl-images-amazon.com/images/I/51DBNtry6PL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B01398GCRY>STANLEY FATMAX 2m (13mm wide) Keychain Tape Measure</a></td>
   <td>Pocket size</td>
   <td><a href=https://www.amazon.com/dp/B01398GCRY><img src=https://images.amazon.com/images/P/B01398GCRY.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

<!-- Meter Sticks -->
<tr id=meter-sticks>
   <th colspan=3><i data-icon=ruler-vertical></i> Meter Sticks</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B004WU7ABG>🏆 Johnson Level & Tool, Aluminum Meterstick, 1m</a></td>
   <td>Aluminum</td>
   <td><a href=https://www.amazon.com/dp/B004WU7ABG><img src=https://images.amazon.com/images/P/B004WU7ABG.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B078RBWQVG>Shinwa 1,000 mm Rigid "Zero Glare" Metric Machinist Rule, 1m</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B078RBWQVG><img src=https://m.media-amazon.com/images/I/81O5KsYXxcL._AC_AA152_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B01EM8LXL0>Double Sided Meter Stick, Hardwood, Protective Metal Ends, 1m</a></td>
   <td>Wood</td>
   <td><a href=https://www.amazon.com/dp/B01EM8LXL0><img src=https://images-na.ssl-images-amazon.com/images/I/71En27I4g1L._AC_UL116_SR116,116_.jpg alt=preview></a></td>
</tr>

<!-- Rulers -->
<tr id=rulers>
   <th colspan=3><i data-icon=ruler></i> Rulers</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0016V5NQ8>🏆 Shinwa Sokutei Pickup Scale (Ruler), 10cm / 15cm / 30cm / 60cm</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B0016V5NQ8><img src=https://images.amazon.com/images/P/B0016V5NQ8.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B00E7P5QYY>Midori Aluminium Ruler Black, 15cm</a></td>
   <td>Small, aluminium</td>
   <td><a href=https://www.amazon.com/dp/B00E7P5QYY><img src=https://images.amazon.com/images/P/B00E7P5QYY.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0091FP46K>Midori Metric CL Ruler Clear, 15cm</a></td>
   <td>Small, plastic</td>
   <td><a href=https://www.amazon.com/dp/B0091FP46K><img src=https://images.amazon.com/images/P/B0091FP46K.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B002VA59QW>Wiha MaxiFlex Folding Ruler, Outside Reading, 2m</a></td>
   <td>Fiberglass folding ruler</td>
   <td><a href=https://www.amazon.com/dp/B002VA59QW><img src=https://images.amazon.com/images/P/B002VA59QW.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07RBR8HN6>5&times;30 cm Quilting/Sewing Ruler, Tailor Dressmaker Quilting Tool</a></td>
   <td>Clear acrylic plastic</td>
   <td><a href=https://www.amazon.com/dp/B07RBR8HN6><img src=https://images-na.ssl-images-amazon.com/images/I/61yVYo-NkgL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>

<!-- Adhesive Rulers -->
<tr id=adhesive-rulers>
   <th colspan=3><i data-icon=ticket></i> Adhesive Rulers</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0966YJPS1>uxcell Adhesive Backed Tape Measure, 10 cm</a></td>
   <td>PVC sticker</td>
   <td><a href=https://www.amazon.com/dp/B0966YJPS1><img src=https://m.media-amazon.com/images/I/21ZL3dOk52S._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B096JZXXVT>Steel Metric Self Adhesive String Ruler, 1 m</a></td>
   <td>Metal sticker</td>
   <td><a href=https://www.amazon.com/dp/B096JZXXVT><img src=https://m.media-amazon.com/images/I/31-8CWQBu-L._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07C6XC9FW>Measure Me! Baby Roll-up Door Frame Growth Height Chart, 3 cm &times; 200 cm</a></td>
   <td>Wall mount</td>
   <td><a href=https://www.amazon.com/dp/B07C6XC9FW><img src=https://c.media-amazon.com/images/I/610NXsxy2TL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>

<!-- Calipers -->
<tr id=calipers>
   <th colspan=3><i data-icon=arrows-left-right-to-line></i> Calipers</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B000W9IVIW>🏆 Shinwa Sokutei 19515 Calipers, 100 mm, Accuracy ±0.1mm</a></td>
   <td>Plastic</td>
   <td><a href=https://www.amazon.com/dp/B000W9IVIW><img src=https://images.amazon.com/images/P/B000W9IVIW.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0832NMZCV>Utoolmart Vernier Caliper 80 mm Measuring Tool, Outside Inside</a></td>
   <td>Brass</td>
   <td><a href=https://www.amazon.com/dp/B0832NMZCV><img src=https://m.media-amazon.com/images/I/31p+k5ywiJL._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0DB29M9M7>Metric Dial Caliper Measuring Tool 0-150mm Range, ±0.02mm Accuracy, Stainless Steel</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B0DB29M9M7><img src=https://m.media-amazon.com/images/I/416sVFKWNsL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0142HWZSG>Mitutoyo 505-732 Dial Caliper, 1 mm per Rev, 0-150 mm Range, 0.01 mm Accuracy</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B0142HWZSG><img src=https://images.amazon.com/images/P/B0142HWZSG.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08R6W5K3R>Dial Vernier Calipers 15 cm, 0.02 mm Accuracy, Stainless Steel</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B08R6W5K3R><img src=https://m.media-amazon.com/images/I/41oMwu6H9xL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
</tr>

<!-- Squares & Blocks -->
<tr id=squares>
   <th colspan=3><i data-icon=ruler-combined></i> Squares & Blocks</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B000IOCN8U>🏆 Swanson NA202 Metric Speed Square Layout Tool, 25 cm</a></td>
   <td>Aluminum</td>
   <td><a href=https://www.amazon.com/dp/B000IOCN8U><img src=https://images.amazon.com/images/P/B000IOCN8U.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B081DY6PSC>45/90 Degree Right Angle Line Gauge Carpenter Ruler and Center Finder, 9 cm</a></td>
   <td>Aluminum alloy</td>
   <td><a href=https://www.amazon.com/dp/B081DY6PSC><img src=https://images-na.ssl-images-amazon.com/images/I/51WBYym06tL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0C3113WSW>45/90 Degree Centering Gauge Measuring Tool, Carpenter Ruler, 200&times;150 mm</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B0C3113WSW><img src=https://m.media-amazon.com/images/I/31ZXnUSUqzL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0CVW52T7V>Carpenter Square with 3D Multi-Angle Layout Measuring Ruler, Pin Pivot Design, 120&times;80 mm</a></td>
   <td>Aluminum alloy</td>
   <td><a href=https://www.amazon.com/dp/B0CVW52T7V><img src=https://images-na.ssl-images-amazon.com/images/I/71PyqeIA4iL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07T2Z67TT>Square for Woodworking Miter Scriber T Ruler 45/90 Degree Angle Protractor Gauge, 16 cm</a></td>
   <td>Aluminum alloy</td>
   <td><a href=https://www.amazon.com/dp/B07T2Z67TT><img src=https://m.media-amazon.com/images/I/41hPf+dm+HL._AC_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B001LGU5F2>Shinwa Sokutei 12114 Curved Scale, Small, 30 &times; 15 cm, Back Square</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B001LGU5F2><img src=https://images.amazon.com/images/P/B001LGU5F2.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0016V7MXU>Shinwa Sokutei 12101 Curb Scale, Right Angle Ruler, Stainless Steel, 10&times;5 cm</a></td>
   <td>Small</td>
   <td><a href=https://www.amazon.com/dp/B0016V7MXU><img src=https://images.amazon.com/images/P/B0016V7MXU.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0C5D9TDWY>Height Gauge Set, 15-Piece Precision Metric Setup Blocks for Router and Table Saw, 25&times;50&times;75 mm</a></td>
   <td>Aluminum</td>
   <td><a href=https://www.amazon.com/dp/B0C5D9TDWY><img src=https://m.media-amazon.com/images/I/71YSJyPw6-L.__AC_SX300_SY300_QL70_ML2_.jpg alt=preview></a></td>
</tr>

<!-- Architect Scales -->
<tr id=architect-scales>
   <th colspan=3><i data-icon=building></i> Architect Scales</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B088P8DB5S>Alumicolor Metric Architect Hollow Scale, 30cm, 20/25/50/75/100/125</a></td>
   <td>Aluminum</td>
   <td><a href=https://www.amazon.com/dp/B088P8DB5S><img src=https://images.amazon.com/images/P/B088P8DB5S.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0884M55FJ>Alumicolor Aluminum Engineer Metric Pocket Scale, 15cm, 1/2/5/10/20/50</a></td>
   <td>Pocket size</td>
   <td><a href=https://www.amazon.com/dp/B0884M55FJ><img src=https://images.amazon.com/images/P/B0884M55FJ.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

<!-- Measuring Spoons & Cups -->
<tr id=spoons-and-cups>
   <th colspan=3><i data-icon=kitchen-set></i> Measuring Spoons & Cups</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B00EGN93CI>Bezall 5 in 1 Plastic Measuring Spoons Set, Kitchen Cooking Baking Tools</a></td>
   <td>Plastic</td>
   <td><a href=https://www.amazon.com/dp/B00EGN93CI><img src=https://m.media-amazon.com/images/I/51KCdSxZFnL._AC_AA152_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08D9C5YHM>🏆 CHEFMADE Hello Kitty Glass Measuring Cup, Pour Spout, 350 ml</a></td>
   <td>Glass</td>
   <td><a href=https://www.amazon.com/dp/B08D9C5YHM><img src=https://images-na.ssl-images-amazon.com/images/I/61TdW5imHHS._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08PTS7VH4>Multi-Function Food Grade Measuring Cup with Handle and Durable Bamboo Lid, 350&nbsp;ml / 500&nbsp;ml / 1,000&nbsp;ml</a></td>
   <td>Glass</td>
   <td><a href=https://www.amazon.com/dp/B08PTS7VH4><img src=https://m.media-amazon.com/images/I/41wfWn03H0L._AC_AA152_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08MFHZKZY>Appletofu Funnel Pitcher, Easy Pour Plastic Measuring Cup with Long Spout, Microwave Safe, 1,000 ml</a></td>
   <td>Plastic</td>
   <td><a href=https://www.amazon.com/dp/B08MFHZKZY><img src=https://m.media-amazon.com/images/I/51eku7tiu4S._AC_AA152_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08K32ZJCC>Longdex Measuring Cup, Clear Graduated Beaker with Handle, 500 ml</a></td>
   <td>Food-grade plastic</td>
   <td><a href=https://www.amazon.com/dp/B08K32ZJCC><img src=https://images-na.ssl-images-amazon.com/images/I/61UEHbBUjwL._AC_UL348_SR348,348_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B087743C2G>TOYANDONA Disposable Measuring Cups, Pack of 100, Clear Plastic, 10 ml</a></td>
   <td>Small</td>
   <td><a href=https://www.amazon.com/dp/B087743C2G><img src=https://m.media-amazon.com/images/I/411vu9HWIqL._AC_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0C3HSV3PP>OBALY Jigger, Cocktail Metering Cups, 25/50 ml &times; 15/30 ml</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B0C3HSV3PP><img src=https://m.media-amazon.com/images/I/71WFkIPB8XL._AC_AA152_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B074HNVYBY>Barfly Japanese Style Jigger, 25 ml &times; 50 ml</a></td>
   <td>Stainless steel</td>
   <td><a href=https://www.amazon.com/dp/B074HNVYBY><img src=https://images.amazon.com/images/P/B074HNVYBY.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0B3VNBNMK>Small Watering Can for Indoor Plants with Long Spout, 1L, Markings for 0.25L / 0.5L / 0.75L / 1L</a></td>
   <td>6 color choices</td>
   <td><a href=https://www.amazon.com/dp/B0B3VNBNMK><img src=https://m.media-amazon.com/images/I/41ZRl-In7DL._AC_.jpg alt=preview></a></td>
</tr>

<!-- Weight Scales -->
<tr id=scales>
   <th colspan=3><i data-icon=weight-scale></i> Weight Scales</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B01LZA1UM3>🏆 Tanita KF-200 Kitchen Scale, 2 kg</a></td>
   <td>Digital</td>
   <td><a href=https://www.amazon.com/dp/B01LZA1UM3><img src=https://images.amazon.com/images/P/B01LZA1UM3.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0000C98E9>Tanita 1445 Kitchen Scale, 1 kg (5 g increments)</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B0000C98E9><img src=https://images.amazon.com/images/P/B0000C98E9.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

<!-- Thermometers -->
<tr id=thermometers>
   <th colspan=3><i data-icon=temperature-half></i> Thermometers</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07MBQTCK9>REOTEMP S1-C32 Magnetic Analog Surface Thermometer, -20 to 60 Celsius</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B07MBQTCK9><img src=https://m.media-amazon.com/images/I/51grmVoN2uL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0951MV115>REOTEMP K82P-7 Large Dial Easy Read Pocket Thermometer, -10 to 110 °C, Waterproof</a></td>
   <td>Pocket</td>
   <td><a href=https://www.amazon.com/dp/B0951MV115><img src=https://images-na.ssl-images-amazon.com/images/I/41qeUNvv88L._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B003N3T2SM>Robinair Dial Thermometer, -40 to 70 °C</a></td>
   <td>Pocket</td>
   <td><a href=https://www.amazon.com/dp/B003N3T2SM><img src=https://images.amazon.com/images/P/B003N3T2SM.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

<!-- Kettles -->
<tr id=kettles>
   <th colspan=3><i data-icon=mug-hot></i> Kettles</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B089CVHW5K>Aigostar Electric Kettle Temperature Control 1.7L, LED Indicator Light Change</a></td>
   <td>Auto shut-off</td>
   <td><a href=https://www.amazon.com/dp/B089CVHW5K><img src=https://m.media-amazon.com/images/I/51CaxR-Ch5L._SS250_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B09WXVXHSZ>NESSGRAIM Retro Electric Kettle, 1.7L Stainless Steel Tea Kettle with Large Temperature Gauge</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B09WXVXHSZ><img src=https://m.media-amazon.com/images/I/61KeLK+gYcL._AC_SY300_SX300_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0B5ZWQNB9>Retro Electric Hot Water Kettle, 1,350w Quick Boil, Auto Shut-Off</a></td>
   <td>Analog</td>
   <td><a href=https://www.amazon.com/dp/B0B5ZWQNB9><img src=https://images-na.ssl-images-amazon.com/images/I/61qQ5LmhDdL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>

<!-- Tool Sets -->
<tr id=tool-sets>
   <th colspan=3><i data-icon=screwdriver-wrench></i> Tool Sets</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B006LPKXQ4>Makita Metric Bit and Hand Tool Set</a></td>
   <td>Carrying case</td>
   <td><a href=https://www.amazon.com/dp/B006LPKXQ4><img src=https://images.amazon.com/images/P/B006LPKXQ4.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>

<!-- Office Supplies -->
<tr id=office-supplies>
   <th colspan=3><i data-icon=stapler></i> Office Supplies</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B07BPKDHBH>A4 Size Premium Printer Paper by Double A, 100 Sheets</a></td>
   <td>White</td>
   <td><a href=https://www.amazon.com/dp/B07BPKDHBH><img src=https://images-na.ssl-images-amazon.com/images/I/61LL8oFrjTL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
</tr>

<!-- Education & Games -->
<tr id=education-and-games>
   <th colspan=3><i data-icon=graduation-cap></i> Education & Games</th>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B000QDTVFG>Learning Resources 1g Centimeter Cubes, Assorted Colors, Set of 500</a></td>
   <td>Plastic</td>
   <td><a href=https://www.amazon.com/dp/B000QDTVFG><img src=https://images.amazon.com/images/P/B000QDTVFG.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B0C3LFGS3P>Kawaii Wall Decorations, Cute Cartoon Height Chart Stickers, 150 cm</a></td>
   <td>10 designs</td>
   <td><a href=https://www.amazon.com/dp/B0C3LFGS3P><img src=https://c.media-amazon.com/images/I/310c1+I6ETL._AC_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/B08QZK63H7>Kids Growth Wall Removable Decals (Giraffe Monkey), 170 cm</a></td>
   <td>PVC material</td>
   <td><a href=https://www.amazon.com/dp/B08QZK63H7><img src=https://c.media-amazon.com/images/I/41kcXi1UgAL._AC_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/1958629111>Mole and Tell (Celebrating Science)</a></td>
   <td>Book</td>
   <td><a href=https://www.amazon.com/dp/1958629111><img src=https://images.amazon.com/images/P/1958629111.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
<tr>
   <td><a href=https://www.amazon.com/dp/1958629413>Talking Science</a></td>
   <td>Book</td>
   <td><a href=https://www.amazon.com/dp/1958629413><img src=https://images.amazon.com/images/P/1958629413.01._THUMBZZZ_.jpg alt=preview></a></td>
</tr>
