<table class=big-table>
   <thead>
      <tr><th>Item</th><th>Note</th><th>Image</th></tr>
   </thead>
   <tbody class=external-site>

      <!--
      **********
      Use the HTML template below to add a new product.
      Replace the variables as appropriate for the new product:
         {{PRODUCT-ID}} ==>    Amazon Standard Identification Number (ASIN)
         {{PRODUCT-TITLE}} ==> A cleaned up version of the title
         {{PRODUCT-NOTE}} ==>  One or two words highlighting a key characteristic
      If the product image does not render, you'll unfortunately have to laboriously search
      through the page to find an appropriate product image URL.
      **********
      <tr>
         <td><a href=https://www.amazon.com/dp/{{PRODUCT-ID}}>{{PRODUCT-TITLE}}</a></td>
         <td>{{PRODUCT-SHORT-NOTE}}</td>
         <td><a href=https://www.amazon.com/dp/{{PRODUCT-ID}}><img src=http://images.amazon.com/images/P/{{PRODUCT-ID}}.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      -->

      <tr id=tape-measures>
         <th colspan=3>Tape Measures</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0BJV484FK>🏆 Takamine Professional Tape Measure, 5.5m</a></td>
         <td>High Contrast</td>
         <td><a href=https://www.amazon.com/dp/B0BJV484FK><img src=https://images-na.ssl-images-amazon.com/images/I/617appeX1+L._AC_UL116_SR116,116_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0CGCT9CSQ>🏆 PICAGER Self-Lock Metric-Only Tape Measure, 5m</a></td>
         <td>High Contrast</td>
         <td><a href=https://www.amazon.com/dp/B0CGCT9CSQ><img src=https://m.media-amazon.com/images/I/41fNGM8xVEL._SY445_SX342_QL70_ML2_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07PJNQ9HP>Milwaukee Autolock Tape Measure, 5m</a></td>
         <td>Professional</td>
         <td><a href=https://www.amazon.com/dp/B07PJNQ9HP><img src=https://images-na.ssl-images-amazon.com/images/I/41-D1eYimYL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07F443K2T>Milwaukee Pro Compact Metric Tape Measure, 8m</a></td>
         <td>Professional</td>
         <td><a href=https://www.amazon.com/dp/B07F443K2T><img src=http://images.amazon.com/images/P/B07F443K2T.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B000X2F0GO>STANLEY FATMAX Classic Tape with Blade Armor, 8m</a></td>
         <td>Sturdy</td>
         <td><a href=https://www.amazon.com/dp/B000X2F0GO><img src=http://images.amazon.com/images/P/B000X2F0GO.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B00OAFBOJM>STANLEY FATMAX Autolock Tape, 5m</a></td>
         <td>Sturdy</td>
         <td><a href=https://www.amazon.com/dp/B00OAFBOJM><img src=http://images.amazon.com/images/P/B00OAFBOJM.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0064XJTFY>Komelon PG85 Metric Gripper Tape, 8m</a></td>
         <td>Good value</td>
         <td><a href=https://www.amazon.com/dp/B0064XJTFY><img src=http://images.amazon.com/images/P/B0064XJTFY.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B075SHJ6G4>OX Trade Series Metric Tape Nylon Coated, 3m</a></td>
         <td>Compact size</td>
         <td><a href=https://www.amazon.com/dp/B075SHJ6G4><img src=http://images.amazon.com/images/P/B075SHJ6G4.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B003Y6ISWO>Stanley Tylon Tape Measure, Black/Yellow, 3m / 5m / 8m</a></td>
         <td>Compact size</td>
         <td><a href=https://www.amazon.com/dp/B003Y6ISWO><img src=http://images.amazon.com/images/P/B003Y6ISWO.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07F61NTLR>Komelon Keymaster Pocket Mini Tape Measure, 2m</a></td>
         <td>Pocket size</td>
         <td><a href=https://www.amazon.com/dp/B07F61NTLR><img src=https://m.media-amazon.com/images/I/5137naguK0L._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B01N5FBDKB>PENCO Pocket Measure Red, 2m</a></td>
         <td>Pocket size</td>
         <td><a href=https://www.amazon.com/dp/B01N5FBDKB><img src=https://images-na.ssl-images-amazon.com/images/I/71xTUXsiNPL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B082NK92BX>Utoolmart 2m Measuring Tape</a></td>
         <td>Pocket size</td>
         <td><a href=https://www.amazon.com/dp/B082NK92BX><img src=https://images-na.ssl-images-amazon.com/images/I/51DBNtry6PL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>

      <tr id=architect-scales>
         <th colspan=3>Architect Scales</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B088P8DB5S>Alumicolor Metric Architect Hollow Scale, 30cm, 20/25/50/75/100/125</a></td>
         <td>Aluminum</td>
         <td><a href=https://www.amazon.com/dp/B088P8DB5S><img src=http://images.amazon.com/images/P/B088P8DB5S.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0884M55FJ>Alumicolor Aluminum Engineer Metric Pocket Scale, 15cm, 1/2/5/10/20/50</a></td>
         <td>Pocket size</td>
         <td><a href=https://www.amazon.com/dp/B0884M55FJ><img src=http://images.amazon.com/images/P/B0884M55FJ.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=meter-sticks>
         <th colspan=3>Meter Sticks</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B078RBWQVG>Shinwa 1,000 mm Rigid "Zero Glare" Metric Machinist Rule, 1m</a></td>
         <td>Stainless steel</td>
         <td><a href=https://www.amazon.com/dp/B078RBWQVG><img src=https://m.media-amazon.com/images/I/81O5KsYXxcL._AC_AA152_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B01EM8LXL0>Double Sided Meter Stick, Hardwood, Protective Metal Ends, 1m</a></td>
         <td>Wood</td>
         <td><a href=https://www.amazon.com/dp/B01EM8LXL0><img src=https://images-na.ssl-images-amazon.com/images/I/71En27I4g1L._AC_UL116_SR116,116_.jpg alt=preview></a></td>
      </tr>

      <tr id=rulers>
         <th colspan=3>Rulers</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0016V5NQ8>🏆 Shinwa Sokutei Pickup Scale (Ruler), 10cm / 15cm / 30cm / 60cm</a></td>
         <td>Stainless steel</td>
         <td><a href=https://www.amazon.com/dp/B0016V5NQ8><img src=http://images.amazon.com/images/P/B0016V5NQ8.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B00E7P5QYY>Midori Aluminium Ruler Black, 15cm</a></td>
         <td>Small, aluminium</td>
         <td><a href=https://www.amazon.com/dp/B00E7P5QYY><img src=http://images.amazon.com/images/P/B00E7P5QYY.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0091FP46K>Midori Metric CL Ruler Clear, 15cm</a></td>
         <td>Small, plastic</td>
         <td><a href=https://www.amazon.com/dp/B0091FP46K><img src=http://images.amazon.com/images/P/B0091FP46K.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B002VA59QW>Wiha MaxiFlex Folding Ruler, Outside Reading, 2m</a></td>
         <td>Fiberglass folding ruler</td>
         <td><a href=https://www.amazon.com/dp/B002VA59QW><img src=http://images.amazon.com/images/P/B002VA59QW.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=adhesive-rulers>
         <th colspan=3>Adhesive Rulers</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0966YJPS1>uxcell Adhesive Backed Tape Measure, 10cm</a></td>
         <td>PVC sticker</td>
         <td><a href=https://www.amazon.com/dp/B0966YJPS1><img src=https://m.media-amazon.com/images/I/21ZL3dOk52S._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B096JZXXVT>Steel Metric Self Adhesive String Ruler, 1m</a></td>
         <td>Metal sticker</td>
         <td><a href=https://www.amazon.com/dp/B096JZXXVT><img src=https://m.media-amazon.com/images/I/31-8CWQBu-L._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
      </tr>

      <tr id=calipers>
         <th colspan=3>Calipers</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0832NMZCV>Utoolmart Vernier Caliper 80mm Measuring Tool, Outside Inside</a></td>
         <td>Copper</td>
         <td><a href=https://www.amazon.com/dp/B0832NMZCV><img src=https://m.media-amazon.com/images/I/31p+k5ywiJL._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
      </tr>

      <tr>
         <td><a href=https://www.amazon.com/dp/B09DFPNWFH>Tyenaza Vernier Caliper, 0mm-150mm Range, 0.02mm Accuracy</a></td>
         <td>Stainless Steel</td>
         <td><a href=https://www.amazon.com/dp/B09DFPNWFH><img src=https://m.media-amazon.com/images/I/41B1cc6d3RL._SL500_AC_SS125_FMwebp_.jpg alt=preview></a></td>
      </tr>

      <tr>
         <td><a href=https://www.amazon.com/dp/B000W9FN0G>Mitutoyo Digital Caliper, 0-150mm Range</a></td>
         <td>Solar powered</td>
         <td><a href=https://www.amazon.com/dp/B000W9FN0G><img src=http://images.amazon.com/images/P/B000W9FN0G.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=measuring-spoons-and-cups>
         <th colspan=3>Measuring Spoons &amp; Cups</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07C2W2Z1W>Bezall 5 in 1 Colorful Plastic Measuring Spoons Set, Kitchen Cooking Baking Tools</a></td>
         <td>Plastic</td>
         <td><a href=https://www.amazon.com/dp/B07C2W2Z1W><img src=https://m.media-amazon.com/images/I/51KCdSxZFnL._AC_AA152_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B08D9C5YHM>🏆 CHEFMADE Hello Kitty Glass Measuring Cup, Pour Spout, 350 ml</a></td>
         <td>Glass</td>
         <td><a href=https://www.amazon.com/dp/B08D9C5YHM><img src=https://images-na.ssl-images-amazon.com/images/I/61TdW5imHHS._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B08MFHZKZY>Appletofu Funnel Pitcher, Easy Pour Plastic Measuring Cup with Long Spout, Microwave Safe, 1,000 ml</a></td>
         <td>Plastic</td>
         <td><a href=https://www.amazon.com/dp/B08MFHZKZY><img src=https://m.media-amazon.com/images/I/51eku7tiu4S._AC_AA152_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B08PTS7VH4>Multi-Function Food Grade Measuring Cup with Handle and Durable Bamboo Lid, 350&nbsp;ml / 500&nbsp;ml / 1,000&nbsp;ml</a></td>
         <td>Glass</td>
         <td><a href=https://www.amazon.com/dp/B08PTS7VH4><img src=https://m.media-amazon.com/images/I/41wfWn03H0L._AC_AA152_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0C3HSV3PP>OBALY Jigger, Cocktail Metering Cups, 25/50 ml &times; 15/30 ml</a></td>
         <td>Stainless Steel</td>
         <td><a href=https://www.amazon.com/dp/B0C3HSV3PP><img src=https://m.media-amazon.com/images/I/71WFkIPB8XL._AC_AA152_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B074HNVYBY>Barfly Japanese Style Jigger, 25 ml &times; 50 ml</a></td>
         <td>Stainless Steel</td>
         <td><a href=https://www.amazon.com/dp/B074HNVYBY><img src=http://images.amazon.com/images/P/B074HNVYBY.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=scales>
         <th colspan=3>Scales</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B01LZA1UM3>🏆 Tanita KF-200 Kitchen Scale, 2 kg</a></td>
         <td>Digital</td>
         <td><a href=https://www.amazon.com/dp/B01LZA1UM3><img src=http://images.amazon.com/images/P/B01LZA1UM3.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0000C98E9>Tanita 1445 Kitchen Scale, 1 kg (5 g increments)</a></td>
         <td>Analog</td>
         <td><a href=https://www.amazon.com/dp/B0000C98E9><img src=http://images.amazon.com/images/P/B0000C98E9.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=thermometers>
         <th colspan=3>Thermometers</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07DVMHLL2>Indoor/Outdoor Mini Temperature Humidity Meter</a></td>
         <td>Analog</td>
         <td><a href=https://www.amazon.com/dp/B07DVMHLL2><img src=http://images.amazon.com/images/P/B07DVMHLL2.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B0951MV115>Reotemp K82P-7 Large Dial Easy Read Pocket Thermometer, -10 to 110 °C, Waterproof</a></td>
         <td>Pocket</td>
         <td><a href=https://www.amazon.com/dp/B0951MV115><img src=https://images-na.ssl-images-amazon.com/images/I/41qeUNvv88L._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B003N3T2SM>Robinair Dial Thermometer, -40 to 70 °C</a></td>
         <td>Pocket</td>
         <td><a href=https://www.amazon.com/dp/B003N3T2SM><img src=http://images.amazon.com/images/P/B003N3T2SM.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=kettles>
         <th colspan=3>Kettles</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B089CVHW5K>Aigostar Electric Kettle Temperature Control 1.7L, LED Indicator Light Change</a></td>
         <td>Auto shut-off</td>
         <td><a href=https://www.amazon.com/dp/B089CVHW5K><img src=https://m.media-amazon.com/images/I/51CaxR-Ch5L._SS250_.jpg alt=preview></a></td>
      </tr>

      <tr>
         <td><a href=https://www.amazon.com/dp/B09WXVXHSZ>NESSGRAIM Retro Electric Kettle, 1.7L Stainless Steel Tea Kettle with Large Temperature Gauge</a></td>
         <td>Analog</td>
         <td><a href=https://www.amazon.com/dp/B09WXVXHSZ><img src=https://m.media-amazon.com/images/I/61KeLK+gYcL._AC_SY300_SX300_.jpg alt=preview></a></td>
      </tr>

      <tr>
         <td><a href=https://www.amazon.com/dp/B0B5ZWQNB9>Retro Electric Hot Water Kettle, 1,350w Quick Boil, Auto Shut-Off</a></td>
         <td>Analog</td>
         <td><a href=https://www.amazon.com/dp/B0B5ZWQNB9><img src=https://images-na.ssl-images-amazon.com/images/I/61qQ5LmhDdL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>

      <tr id=tool-sets>
         <th colspan=3>Tool Sets</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B006LPKXQ4>Makita Metric Bit and Hand Tool Set</a></td>
         <td>Carrying case</td>
         <td><a href=https://www.amazon.com/dp/B006LPKXQ4><img src=http://images.amazon.com/images/P/B006LPKXQ4.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

      <tr id=office-supplies>
         <th colspan=3>Office Supplies</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B07BPKDHBH>A4 Size Premium Printer Paper by Double A, 100 Sheets</a></td>
         <td>White</td>
         <td><a href=https://www.amazon.com/dp/B07BPKDHBH><img src=https://images-na.ssl-images-amazon.com/images/I/61LL8oFrjTL._AC_UL232_SR232,232_.jpg alt=preview></a></td>
      </tr>

      <tr id=education-and-games>
         <th colspan=3>Education &amp; Games</th>
      </tr>
      <tr>
         <td><a href=https://www.amazon.com/dp/B000QDTVFG>Learning Resources 1g Centimeter Cubes, Assorted Colors, Set of 500</a></td>
         <td>Plastic</td>
         <td><a href=https://www.amazon.com/dp/B000QDTVFG><img src=http://images.amazon.com/images/P/B000QDTVFG.01._THUMBZZZ_.jpg alt=preview></a></td>
      </tr>

   </tbody>
</table>
