<!-- src/templates/table-of-poetry.html -->
<table class=big-table data-code-column=1 data-hide-column=2>
   <caption>mil | cem | kay | mig | gram | kilo | ton | leat | stere | meg</caption>
   <thead>
      <tr><th>Symbol</th><th>Unit</th><th>Word</th><th>Examples</th></tr>
   </thead>
   <tbody>
      <tr><td>mm</td> <td>millimeter</td>       <td><b>mil</b></td>                  <td>"I was a mil away from death."</td></tr>
      <tr><td>cm</td> <td>centimeter</td>       <td><b>cem</b></td>                  <td>"We're making progress cem by cem."<br>"The President mustn't budge a cem."</td></tr>
      <tr><td>km</td> <td>kilometer</td>        <td><b>kay</b> or <b>klick</b></td>  <td>"Give someone a cem and they'll take a kay."<br>"A journey of a thousand kays begins with a single step."<br>"Good grief, you missed by a country kay!"<br>"Go the extra kay."<br>"Only meters away but kays apart."</td></tr>
      <tr><td>mg</td> <td>milligram</td>        <td><b>mig</b></td>                  <td>"A raindrop weighs just 4 migs."</td></tr>
      <tr><td>g</td>  <td>gram</td>             <td><b>gram</b></td>                 <td>"A gram of prevention is worth a kilo of cure."</td></tr>
      <tr><td>kg</td> <td>kilogram</td>         <td><b>kilo</b> or <b>key</b></td>   <td>"In the soft drink market, Coke is the 500 kilo gorilla."<br>"A gram of help is better than a kilo of preaching."<br>"Sugar Ray Robinson is the greatest kilo-for-kilo boxer of all time."</td></tr>
      <tr><td>Mg</td> <td>megagram</td>         <td><b>ton</b></td>                  <td>"The truth is gonna land on you like a ton of bricks."</td></tr>
      <tr><td>ml</td> <td>milliliter</td>       <td><b>mil</b> or <b>cc</b></td>     <td>"20 raindrops make a mil."<br>"A mil is the volume of one cubic cem (1 cm<sup>3</sup>)."<br>"A cc is the volume of one cubic cem (1 cm<sup>3</sup>)."</td></tr>
      <tr><td>L</td>  <td>liter</td>            <td><b>leat</b></td>                 <td>"A cube 10 cems on edge is one leat."<br>"A mil of honey will catch more flies than a leat of vinegar."<br>"I love milk - I drink leats of the stuff."</td></tr>
      <tr><td>st</td> <td>cubic&nbsp;meter</td> <td><b>stere</b> or <b>kuub</b></td> <td>"A cubic meter (m<sup>3</sup>) is called a <span data-href=https://en.wikipedia.org/wiki/Stere class=external-site>stere</span>."<br>"Given the price of a kuub of firewood, I chop my own."</td></tr>
      <tr><td>ML</td> <td>megaliter</td>        <td><b>meg</b></td>                  <td>"A cube 10 meters on edge is one meg."<br>"An Olympic-size swimming pool is about 2.5 megs."</td></tr>
   </tbody>
</table>
