<ol class=to-do-checklist data-on-click=app.saveChecklist>
   <li id=phone>        <p>Set your mobile device to metric</p>                                                   <label><input type=checkbox><b></b></label></li>
   <li id=car>          <p>Set the display in your car to Celsius (&deg;C)</p>                                    <label><input type=checkbox><b></b></label></li>
   <li id=home>         <p>Set your home thermostat to Celsius (&deg;C)</p>                                       <label><input type=checkbox><b></b></label></li>
   <li id=refrigerator> <p>Set your refrigerator to Celsius (&deg;C)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=tape-measure> <p>Buy a metric only <a href={{webRoot}}/products>tape measure</a></p>                    <label><input type=checkbox><b></b></label></li>
   <li id=kitchen-scale><p>Buy a <a href={{webRoot}}/products>kitchen scale</a> that displays grams (g)</p>       <label><input type=checkbox><b></b></label></li>
   <li id=bathroom>     <p>Set your bathroom scale to kilograms (kg)</p>                                          <label><input type=checkbox><b></b></label></li>
   <li id=helpful>      <p>Click "Helpful" for a review of a good metric product</p>                              <label><input type=checkbox><b></b></label></li>
   <li id=review>       <p>Leave a positive review for a good metric product</p>                                  <label><input type=checkbox><b></b></label></li>
   <li id=recipe>       <p>Follow a <a href=https://pilafian.org/dem/pilaf>metric recipe</a> to prepare a dish</p><label><input type=checkbox><b></b></label></li>
   <li id=diy>          <p>Complete a DIY project using only metric</p>                                           <label><input type=checkbox><b></b></label></li>
   <li id=video>        <p>Up vote a video on social media that uses only metric</p>                              <label><input type=checkbox><b></b></label></li>
   <li id=labeling>     <p>Purchase a product with metric labeling over one without</p>                           <label><input type=checkbox><b></b></label></li>
</ol>
