<ol class=to-do-checklist data-on-click=app.saveChecklist>
   <li id=phone>        <label><span>Set your mobile device to metric</span>                                         <input type=checkbox></label></li>
   <li id=car>          <label><span>Set the temperature display in your car to Celsius (&deg;C)</span>              <input type=checkbox></label></li>
   <li id=home>         <label><span>Set your home thermostat to Celsius (&deg;C)</span>                             <input type=checkbox></label></li>
   <li id=refrigerator> <label><span>Set your refrigerator to Celsius (&deg;C)</span>                                <input type=checkbox></label></li>
   <li id=tape-measure> <label><span>Buy a <a href={{webRoot}}/products>metric only tape measure</a></span>          <input type=checkbox></label></li>
   <li id=kitchen-scale><label><span>Buy a <a href={{webRoot}}/products>kitchen scale</a> that displays grams</span> <input type=checkbox></label></li>
   <li id=bathroom>     <label><span>Set your bathroom scale to kilograms (kg)</span>                                <input type=checkbox></label></li>
</ol>
