// Think Metric
// Style

@import "css/3rd-party";
@import "css/page-layout";
@import "css/components";
@import "css/figures";
@import "calculator/calculator";


// Style pending next library release
a         { color: inherit; border-color: steelblue; }
a:visited { color: darkgray; }
a:hover   { color: white; background-color: steelblue; outline-color: steelblue; }
main >section form { color: dimgray; }
