//////////////////
// Think Metric //
//////////////////

// Layout
body {
   >header {
      background-image: url(graphics/kg-weights-by-ylanite-koppens-at-pexels.jpg);
      nav#link-menu {
         a, a:visited {
            color: white;
            border-color: white;
            text-shadow: 0px 0px 0.6em black;
            }
         a.current, a:hover {
            color: white;
            border-color: gold;
            }
         }
      h2 {
         font-size: 1.5rem;
         text-shadow: 0px 0px 0.6em black;
         .MobileMode({
            font-size: 0.8rem;
            font-weight: normal;
            });
         }
      img {
         .MobileMode({
            bottom: -50px;
            width: 100px;
            });
         }
      #article-nav {
         // <div id=article-nav>
         //    <i data-icon=circle-left  data-on-click=app.goToArticle data-nav=prev></i>
         //    <i data-icon=circle-right data-on-click=app.goToArticle data-nav=next></i>
         //    <ul>{% render 'src/templates/generated/articles.html' %}</ul>
         // </div>
         position: absolute;
         left: 0px;
         right: 0px;
         bottom: -65px;
         display: flex;
         justify-content: space-between;
         width: 100%;
         max-width: 1000px;
         padding: 0px 10px;
         margin: 0px auto;
         visibility: hidden;
         &.show {
            visibility: visible;
            }
         >i {
            font-size: 3em;
            cursor: pointer;
            &.hide {
               visibility: hidden;
               }
            }
         >ul {
            display: none;
            }
         }
      }
   main {
      >section {
         &:first-child {
            .MobileMode({
               padding-top: 80px;
               });
            }
         &:last-child {
            padding-bottom: 50px;
            }
         >p, >div {
            text-align: left;
            code {
               white-space: normal;
               }
            li {
               font-size: 1em;
               text-indent: 0px;
               padding-left: 0em;
               margin-bottom: 15px;
               }
            }
         >figure {
            padding: 0px 10px;
            img {
               max-height: 600px;
               }
            }
         >blockquote {
            font-style: italic;
            cite {
               display: block;
               font-size: 0.8rem;
               font-weight: 100;
               font-style: normal;
               }
            }
         }
      }
   >footer {
      >div {
         padding: 5px 0px;
         }
      }
   }

// Components
main.center-line {
   >section {
      p {
         text-align: center;
         }
      }
   }
ul.plain-list {
   list-style-type: none;
   padding-left: 0px;
   li {
      text-align: center;
      }
   }
figure.box-frame {
   background-color: white;
   border: 5px solid silver;
   padding: 5px 20px;
   img {
      height: 100px;
      .MobileMode({ height: 70px; })
      }
   }
figure.small-picture {
   max-width: 200px;
   .MobileMode({ max-width: 150px; })
   }
table.big-table {
   .TableCell() {
      font-size: 1em;
      text-align: left;
      &:first-child {
         padding-left: 0px;
         }
      &:last-child {
         padding-right: 0px;
         }
      }
   margin: 0px;
   thead {
      tr {
         th {
            .TableCell();
            }
         }
      }
   tbody {
      tr {
         td {
            .TableCell();
            img {
               max-width: 120px;
               }
            }
         }
      }
   }

// Responsive Design
.MobileMode({
   table.big-table {  //hide 2nd column in compact mode
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2) {
         display : none;
         }
      }
   });
.MobileMode(@lessRules) {
   @media (max-width: 667px) {  //selects iPhone 6/6s/7/8/SE2/SE3 landscape and anything narrower
      @lessRules();
      }
   }
