// Think Metric
// Style: Calculator

b.flair {
   display: inline-block;
   font-size: 0.9em;
   color: white;
   padding: 3px 15px;
   border-radius: 20px;
   &[data-flair=green] {
      color: white;
      background-color: forestgreen;
      }
   &[data-flair=teal] {
      color: black;
      background-color: turquoise;
      }
   }

section.grams-calculator {
   min-height: 750px;  //prevent jitter when calculations refresh
   >form {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px 30px;
      text-align: left;
      background-color: lightblue;
      border: 10px solid white;
      border-radius: 30px;
      padding: 20px 20px 40px 20px;
      margin-bottom: 10px;
      >label {
         >span {
            margin-bottom: 3px;
            }
         >input[name=quantity] {
            max-width: 6em;
            margin: 0px;
            }
         >select {
            margin: 0px;
            &[name=units] {
               }
            &[name=ingredient] {
               }
            option {
               }
            }
         }
      p {
         position: absolute;
         bottom: 5px;
         font-size: 0.8rem;
         margin: 0px;
         }
      }
   >figure {
      >figcaption {
         font-style: normal;
         margin-bottom: 15px;
         span {
            font-weight: normal;
            }
         }
      >p {
         font-size: 2rem;
         color: royalblue;
         margin-bottom: 15px;
         }
      >div {
         >output {
            display: block;
            font-style: normal;
            margin-bottom: 5px;
            b {
               }
            }
         }
      >small {
         display: block;
         margin-top: 20px;
         }
      }
   }

section.celsius-calculator {
   >div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px 5px;
      >form {
         display: flex;
         align-items: center;
         background-color: lightblue;
         border-radius: 10px;
         padding: 10px 20px 10px 25px;
         margin: 0px 20px 0px 0px;
         .MobileMode({ margin-right: 5px; });
         input {
            width: 5em;
            .MobileMode({ width: 3.5em; });
            margin: 0px 0.3em 0px 0px;
            }
         }
      >i.font-icon {
         font-size: 2rem;
         color: royalblue;
         margin: 0px;
         }
      >figure {
         font-size: 1.8rem;
         padding: 0px;
         margin: 0px;
         output {
            display: inline-block;
            min-width: 3em;
            .MobileMode({ min-width: 2em; });
            text-align: right;
            margin-right: 0.2em;
            }
         }
      }
   }

section.milliliters-calculator {
   // section.milliliters-calculator
   //    h2
   //    div
   //       form
   //          label
   //             span
   //             input[name=quantity]
   //          label
   //             span
   //             select[name=units]
   //       i[data-icon=arrow-alt-circle-right]
   //       figure
   //          output
   >div {
      display: flex;
      .MobileMode({ flex-direction: column; });
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      >form {
         display: flex;
         column-gap: 10px;
         align-items: center;
         background-color: lightblue;
         border-radius: 10px;
         padding: 10px 20px 10px 25px;
         margin: 0px;
         >label {
            margin: 0px;
            >input {
               width: 4em;
               margin: 0px 0.3em 0px 0px;
               }
            }
         }
      >i.font-icon {
         font-size: 2rem;
         color: royalblue;
         margin: 0px;
         .MobileMode({ transform: rotate(90deg); });
         transition: all 1s;
         }
      >figure {
         font-size: 1.8rem;
         padding: 0px;
         margin: 0px;
         output {
            display: inline-block;
            min-width: 3em;
            .MobileMode({ min-width: auto; });
            text-align: right;
            margin-right: 0.2em;
            }
         }
      }
   }
