// Think Metric
// Style: Calculator

@import "../css/static/utility-box";

section.grams-calculator {
   // section.grams-calculator
   //    h2
   //    div
   //       form
   //          label
   //             input[name=quantity]
   //          label
   //             select[name=units]
   //          label
   //             select[name=ingredient]
   //       p
   //    figure#grams-calculator-result
   //       figcaption
   //       p
   //       div
   //          output
   //       small
   min-height: 750px;  //reduce jitter when calculations refresh
   >div {
      position: relative;
      >form {
         padding-bottom: 40px;
         >label {
            >input[name=quantity] {
               max-width: 6em;
               }
            }
         }
      >form + p {
         position: absolute;
         bottom: 1.7em;
         font-size: 0.8rem;
         }
      }
   >figure {
      >figcaption {
         font-style: normal;
         margin-bottom: 15px;
         span {
            font-weight: normal;
            }
         }
      >p {
         >i.font-icon {
            font-size: 3rem;
            }
         margin-bottom: 15px;
         }
      >div {
         display: flex;
         flex-direction: column;
         width: max-content;
         align-items: start;
         margin: 0px auto;
         >output {
            display: block;
            font-style: normal;
            margin-bottom: 5px;
            b:first-child {
               display: inline-block;
               min-width: 3em;
               text-align: right;
               }
            }
         }
      >small {
         display: block;
         margin-top: 20px;
         }
      }
   }

section.celsius-calculator {
   >div {
      align-items: center;
      column-gap: 5px;
      >form {
         column-gap: 0px;
         margin: 0px 20px 0px 0px;
         .MobileMode({ margin-right: 5px; });
         input {
            width: 5em;
            .MobileMode({ width: 3.5em; });
            margin-right: 5px;
            }
         }
      >i.font-icon {
         }
      >figure {
         font-size: 1.8rem;
         padding: 0px;
         margin: 0px;
         output {
            display: inline-block;
            min-width: 3em;
            .MobileMode({ min-width: 2em; });
            text-align: right;
            margin-right: 0.2em;
            }
         }
      }
   }

section.milliliters-calculator {
   // section.milliliters-calculator
   //    h2
   //    div
   //       form
   //          label
   //             span
   //             input[name=quantity]
   //          label
   //             span
   //             select[name=units]
   //       i[data-icon]
   //       figure
   //          output
   >div {
      display: flex;
      .MobileMode({ flex-direction: column; });
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      >form {
         column-gap: 10px;
         margin: 0px;
         >label {
            >input[name=quantity] {
               width: 4em;
               }
            }
         }
      >i.font-icon {
         .MobileMode({ transform: rotate(90deg); });
         }
      >figure {
         font-size: 1.8rem;
         padding: 0px;
         margin: 0px;
         output {
            display: inline-block;
            min-width: 3em;
            .MobileMode({ min-width: auto; });
            text-align: right;
            margin-right: 0.2em;
            }
         }
      }
   }
