# think-metric
# Deploy "docs" folder to GitHub Pages while preserving file timestamps

name: Publish Website

on: [workflow_dispatch]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6                 #see: https://github.com/actions/checkout/releases
        with:
          ref: main       #fetch the full git history of the "main"
          fetch-depth: 0  #branch for git-restore-mtime-action below
      - uses: chetan/git-restore-mtime-action@v2  #see: https://github.com/chetan/git-restore-mtime-action/releases
      - uses: actions/setup-node@v6               #see: https://github.com/actions/setup-node/releases
      - run: npm install
      - run: npm run pretest  #build website
      - uses: actions/upload-pages-artifact@v4    #see: https://github.com/actions/upload-pages-artifact/releases
        with:
          path: docs  #build output folder

  publish:
    needs: build
    permissions:  #allow GITHUB_TOKEN to deploy to GitHub Pages
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4             #see: https://github.com/actions/deploy-pages/releases
        id: deployment
